<div id="fh5co-main">
    <div class="fh5co-intro text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="intro-lead">Hello Angular 2</h1>
                </div>
            </div>
        </div>
    </div>


    <div id="fh5co-team">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <h2 class="section-lead text-center">made with</h2>
                        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
                            <figure>
                                <img src="../../assets/images/ng.png" alt="angular2" class="img-responsive">
                            </figure>
                            <h3>Angular2</h3>	
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
                            <figure>
                                <img src="../../assets/images/github.png" alt="angular2" class="img-responsive">
                            </figure>
                            <h3>github</h3>	
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
                            <figure>
                                <img src="../../assets/images/cli.png" alt="angular2" class="img-responsive">
                            </figure>
                            <h3>angular-cli</h3>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>